[submodule "cpp-httplib"]
	path = src/3rd-party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "json"]
	path = src/3rd-party/json
	url = https://github.com/nlohmann/json
[submodule "spdlog"]
	path = src/3rd-party/spdlog
	url = https://github.com/gabime/spdlog
